li {
    list-style-type: none; 
   }

 body{
 width: 1600px;
 margin-left: auto;
 margin-right: auto;
 background-color: rgb(32, 5, 58);
 }


 /*footer*/




.hat-home{
width: 600px;
height: 600px;
}

.hat-big{
position: absolute;
top: 0%;
left: 45%;
font-size: 400px;
color: rgba(161, 6, 52, 0.678);
}

.hat-min{
position: absolute;
top: 30%;
left: 60%;
color: white;
font-size: 80px;
}

.het-min-one{
position: absolute;
top: 55%;
left: 61%;
color: white;
}

.designation{
position: absolute;
top: 70% ;
left: 8% ;
width: 800px;
height:250px;
background:linear-gradient(to bottom, rgba(206, 19, 122, 0.979), rgb(32, 5, 58)) ;
}

.designation-big{
display: inline-block;
margin-left: 10px;
}

.big-one{
color: white;
font-size: 30px;
padding-top: 15px;
padding-bottom: 40px;
text-align: center;
}

.big-two{
color: white;
font-size: 18px;
text-align: center;
}



/*main*/

.middle-big{
position: relative;
}

.middle{
position: absolute;
top: -400px;
left: 0% ;
width: 1000px;
height: 400px;
background:linear-gradient(to bottom, rgba(100, 19, 206, 0.979), rgb(32, 5, 58)) ;
}

.medle-one{
color: white;
padding-top: 10px;
padding-left: 20px;
font-size: 40px;
}

.middle-two{
color: white;
padding-top: 10px;
padding-left: 20px;
font-size: 20px;
}

.middle-photo{
position: absolute;
top: -400px;
left: 62%;
}


 /*info*/

 .visually{
   position: relative;
 }

 .visually-big
{
  position: absolute;
  top:150px ;
  left:48% ;
  color: white;
}

 

 .visually-one{
   position: absolute;
   top:140px ;
   left:16% ;
 }

 .visually-two{
   position: absolute;
   top:340px ;
   left:10% ;
 }

 .visually-three{
  position: absolute;
  top:340px ;
  left:36% ;
 }

 .visually-four{
  position: absolute;
  top:50px ;
  left:36% ;
  
}

.visually-five{
  position: absolute;
  top:110px ;
  left:65% ;
}

.visually-six{
  position: absolute;
  top:190px ;
  left:60%;
  width: 600px;
 height: 600px;
 border-radius: 50%; 
 background:linear-gradient(to bottom, rgba(100, 19, 206, 0.514), rgba(32, 5, 58, 0)) ;
}


.visually-text{
  position: absolute;
  top:170px;
  left:17%;
  color: white;
}


.our{
  position: relative;
  height: 800px;
}

.our-services{
position: absolute;
top: 800px;
left: 0px ;
width: 1600px;
height: 800px;
background:linear-gradient(to bottom, rgba(32, 5, 58, 0), rgba(119, 5, 85, 0.377)) ;
}

.our-one{
position: absolute;
left: 1100px;
color: white;
font-size: 30px;
}

.of-our{
  position: absolute;
  left: 1050px;
  top: 50px;
  color: white;
  font-size: 18px; 
}




.Strategy-our{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 150px;
  width: 600px;
  height: 600px;
  border-radius: 50%; 
  background:linear-gradient(to bottom, rgba(100, 19, 206, 0), rgb(110, 9, 141)) ;
}

.bulb{
width: 150px;
height: 150px;
background-color: rgb(28, 52, 156);
padding-top: 35px;
padding-left: 35px;
}

.bulb-one{
fill: white;
}


.design{
  display: inline-block;
}

.experience{
  display: inline-block;
}